*{text-align: center;}
.x{
    color: rgb(255, 255, 255);
    font-size: 24px;
}
body{
  
      background-image: url('3d-triangle-geometry-artwork-5k-go.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
}
  .box{
      width:650px;
      background:rgba(0, 0, 0, 0.4);
      padding: 40px;
  text-align: center; 
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic'sans-serif;
  }
  
.as{
border: 2px solid rgb(11, 120, 223);
padding: 10px;
border-radius: 50px 20px;}