

body{
  
    background-image: url('lights-abstract-4k-0n.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

p{color: rgb(252, 193, 0);}
        .box{
                    width:1500px;
                    background:rgba(78, 65, 65, 0.4);
                    padding: 1px;
                text-align: left; 
                margin: auto;
                margin-top: 5%;
                color: rgb(255, 251, 0);
                font-family: 'Century Gothic'sans-serif;
                }
                
  .as{
  border: 2px solid rgb(255, 238, 0);
  padding: 10px;
  border-radius: 50px 20px;}
