body{
    
    background-image: url('assets/img/img-3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

        h1,h3{
            text-align: center;
        color: green;
        }.x{
            color: rgb(255, 255, 255);
        }  .box{
            width:1500px;
            background:rgba(0,0,0,0.4);
            padding: 1px;
        text-align: left; 
        margin: auto;
        margin-top: 5%;
        color: white;
        font-family: 'Century Gothic'sans-serif;
        }
        
.as{
border: 2px solid rgb(21, 253, 0);
padding: 10px;
border-radius: 50px 20px;}
.sola-kaydir{
float:left;
padding:0 10px 10px 0;
}
