*{text-align: center;}
.x{
    color: rgb(255, 255, 255);
    font-size: 24px;
}
  body{
      margin: 0;
      padding: 0;
      
      background:url(img-2.jpg)no-repeat;
      background-size:cover;
  }
  .box{
      width:450px;
      background:rgba(0, 0, 0, 0.4);
      padding: 40px;
  text-align: center; 
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic'sans-serif;
  }
  
.as{
border: 2px solid rgb(11, 120, 223);
padding: 10px;
border-radius: 50px 20px;}