
    h1 {
        font-family: Domine, serif;
        font-weight: normal;
        color: rgb(15, 12, 12);
    }
    h3 {
        font-family: Domine, serif;
        font-weight: normal;
        font-style: italic;
        color: #333;
        margin-top: 0;
    }
    h4 {
        font-weight: normal;
        color: rgb(8, 8, 36);
    }
    .row h4 {
        font-size: 16px;
        font-style: italic;
    }
    h5 {
        font-family: Domine, serif;
        font-weight: normal;
        font-size: 18px;
        margin-top: 0;
    }
    .cover {
        background-color: #ffffff;
        padding: 30px 0 !important;
    }
    .row-fluid {
        padding: 20px 0;
        border-bottom: 1px solid rgb(8, 8, 8);
    }
    .row {
        margin-left: 0px;
	page-break-inside: avoid !important;
    }
    hr {
	margin: 0;
        margin-bottom: 15px;
    }
    