 body{
            margin: 0;
            padding: 0;
            
            background:url(lights-abstract-4k-0n.jpg)no-repeat;
            background-size:cover;
        }
        .box{
            width:450px;
            background:rgba(0,0,0,0.4);
            padding: 40px;
        text-align: center; 
        margin: auto;
        margin-top: 5%;
        color: white;
        font-family: 'Century Gothic'sans-serif;
        }
        
  .as{
  border: 2px solid rgb(251, 255, 0);
  padding: 10px;
  border-radius: 50px 20px;}
.x{color: white;}
