body{
    margin: 0;
    padding: 0;
    
    background:url(8530b304-9889-43b8-882f-e1b050676519.jpg)no-repeat;
    background-size:cover;
}  body{
            margin: 0;
            padding: 0;
            
            background:url(11indir.jpg)no-repeat;
            background-size:cover;
        }
        .box{
            width:450px;
            background:rgba(0,0,0,0.4);
            padding: 40px;
        text-align: center; 
        margin: auto;
        margin-top: 5%;
        color: white;
        font-family: 'Century Gothic'sans-serif;
        }
        
  .as{
  border: 2px solid rgb(11, 120, 223);
  padding: 10px;
  border-radius: 50px 20px;}
.x{color: white;}
