
body{
  
    background-image: url('photo-1451337516015-6b6e9a44a8a3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

        .box{
            width:450px;
            background:rgba(0,0,0,0.4);
            padding: 40px;
        text-align: center; 
        margin: auto;
        margin-top: 5%;
        color: white;
        font-family: 'Century Gothic'sans-serif;
        }
        
  .as{
  border: 2px solid rgb(251, 255, 0);
  padding: 10px;
  border-radius: 50px 20px;}
.x{color: white;}
