
  .as{
  border: 2px solid rgb(11, 120, 223);
  padding: 10px;
  border-radius: 50px 20px;}
.box{
            width:1500px;
            background:rgba(0, 0, 0, 0.4);
            padding: 1px;
        text-align: left; 
        margin: auto;
        margin-top: 5%;
        color: white;
        font-family: 'Century Gothic'sans-serif;
        }
    h1{
        text-align: center;
    }
    *{text-align: center;}
    table{
            width: 100%;
            border-collapse: collapse;
        }
        table th{text-align: left;
        background-color: #ff7300;
        color: honeydew;
        }
        table td,table th{
            border: 1px solid #ddd;
            padding: 6px;
        }
        table tr:nth-child(odd){
            background-color: #f2f2f2;
        }
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}


div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-image: url('5b5ad6670490c9040c279445.gif');
    background-attachment: fixed;
    background-size: 100% 100%;
    border: 2px solid rgb(255, 175, 1);
  }
body{
  
    background-image: url('apps.34509.13988996263393775.14fce3d5-9ee4-4b44-a5bb-e84fedf115fb.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}  .as{
  border: 2px solid rgb(11, 120, 223);
  padding: 10px;
  border-radius: 50px 20px;}
